{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block titulo %}{% endblock %}</title>
    <meta charset="utf-8"> 
    <script language="javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.poptrox.min.js"></script>	
	<script type="text/javascript" src="/static/js/init.js"></script>
	<script type="text/javascript" src="/static/js/skel.min.js"></script>    
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/skel.css">
	<link rel="stylesheet" href="/static/css/style.css">	
	<link rel="stylesheet" href="/static/css/style-xlarge.css">	
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">	
	{% block css %}{% endblock %}
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
</head>
<body id="top">
	<header id="header">
	{% if request.session.id %}
		<a href="#" class="image avatar"><img src="/static/images/{{ request.session.foto }}" alt="Olá {{ request.session.name }}!" /></a>
		<h1><strong>Olá {{ request.session.name }}!</strong><br />
		{{ request.session.area }}
		</h1> 
	{% else %} 
		<a href="#" class="image avatar"><img src="/static/images/avatar.jpg" alt="" /></a>
		<h1><strong>Portal Vota</strong><br />
		Sistema para votar no funcionário do mês.</h1> 
	{% endif %}
	</header>
	{% block container %}{% endblock %} 
	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="fa fa-facebook"><span class="label"></span></a></li>			
			<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; 2015</li><li>Design:&nbsp <a href="http://www.portaldeideias.com.br">Portal de Ideias</a></li>
		</ul>
	</footer>
	{% block js %}{% endblock %}

	{% if msg %} <!-- MELHORAR A FORMA DE MSG -->
	<script>
    	alert("AVISO: {{ msg }}");
  	</script>
	{% endif %}

</body>
</html>