{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block titulo %}{% endblock %}</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <script language="javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.poptrox.min.js"></script>	
	<script type="text/javascript" src="/static/js/init.js"></script>
	<script type="text/javascript" src="/static/js/skel.min.js"></script>    
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/skel.css">
	<link rel="stylesheet" href="/static/css/style.css">	
	<link rel="stylesheet" href="/static/css/style-xlarge.css">	
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">	
	{% block css %}{% endblock %}
    
</head>
<body id="top">
	<header id="header">
	{% if request.session.id %}
		<img class="image avatar"  src="/static/images/{{ request.session.foto }}" alt="Olá {{ request.session.nome }}!" />
		<h1>Olá {{ request.session.nome }}!<br />
		{{ request.session.area }}
		</h1> 
	{% else %} 
		<a href="#" class="image avatar"><img src="/static/images/logo.jpg" alt="" /></a>
		<h1><strong>Portal Vota</strong><br />
		Sistema para votar no funcionário do mês.</h1> 
	{% endif %}
	</header>
	{% block container %}{% endblock %} 
	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="https://github.com/tiagoportal/Portal_Vota" ><span class="icon fa-github"></span></a></li>
			<li><a href="https://www.facebook.com/portal.deideias?fref=ts" ><span class="icon fa-facebook"></span></a></li>			
			<li><a href="contato@portaldeideias.com.br" ><span class="icon fa-envelope-o"></span></a></li>
		</ul>
		<ul class="copyright">			
			<li>Design:&nbsp <a href="http://www.portaldeideias.com.br">Portal de Ideias</a></li><li>&copy; 2015</li>
		</ul>
	</footer>
	{% block js %}{% endblock %}

	{% if msg %} <!-- MELHORAR A FORMA DE MSG -->
	<script>
    	alert("AVISO: {{ msg }}");
  	</script>
	{% endif %}

</body>
</html>