{% extends "base.html" %}

{% block container %}
<section id="one">
	<h1><strong>OBRIGADO POR VOTAR!</strong><br /></h1>
	<b>Entenda mais sobre o processo de votação:</b>
	<ul>
  		<li>Você só poderá votar em uma pessoa por mês.</li>
  		<li>Você refaz o seu voto escolhendo outra pessoa quantas vezes desejar.</li>
  		<li>Você pode mudar o seu voto até o primeiro dia do próximo mês seguinte.</li>
  		<li>Você sobrepõe o seu voto se escolher outra pessoa para votar.</li>
  		<li>O resultado sai automaticamente no primeiro dia do próximo mês.</li>
  		<li>O seu voto é secreto e não é divulgado por este sistema.</li>
  		<li>Somente usuários cadastrados podem votar neste sistema.</li>
  		<li>A lista dos melhores funcionários do mês você <a href="/vencedores/">encontra aqui&nbsp;&nbsp;<i class="icon fa-list"></i>
</a></li>
  		<li>Em caso de dúvidas ou se deseja atendimento, favor entrar em contato <a href="mailto:tiago.garcia@portaldeideias.com.br?Subject=CONTATO_PORTALVOTA">aqui</a> ou <a href="&nbsp;mailto:mateus@portaldeideias.com.br?Subject=CONTATO_PORTALVOTA">aqui</a></li>
	</ul>

	<div style="text-align:center">
		<a href="/premios/" class="icon fa-gift" title="Ver Prêmios">&nbsp&nbspVer prêmios</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<a href="/vencedores/" class="icon fa-trophy" title="Ver Vencedores">&nbsp&nbspVer Vencedores</a>
	</div>  
</section>
{% endblock %}
