{% extends "base.html" %} 

{% block container %}
<section id="two">
    <h2>Se você for o ganhador do melhor funcionário do mês, escolha um dessas regalias que o Portal de Ideias oferece para você desfrutar! E mais uma vez, parabéns por fazer parte de nossa equipe!</h2>
    <div class="row">
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/idiomas.jpg" alt="Escolha Curso de idiomas" text="Escolha Curso de idiomas  " />
            <h3>3 MESES DE CURSOS DE IDIOMAS</h3>
            <p>Você pode escolher entre Inglês, Alemão, Francês, Espanhol, Italiano, Portugês, Suéco, Turco, Holandês, Polonês, Noroeguês, indonésio e Russo!</p>
        </article>
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/academia.jpg" alt="Escolha Academia" text="Escolha Academia" />
            <h3>2 MESES DE ACADEMIA</h3>
            <p>Melhore sua qualidade de vida fazendo exercícios na academia!</p>
        </article>
    </div>
    <div class="row">
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/churrasco.jpg" alt="Escolha Churrasco" text="Escolha Churrasco" />
            <h3>CHURRASCO COM ACOMPANHANTE</h3>
            <p>Desfrute de um maravilhoso rodízio com acompanhante ou se preferir ir sozinho, jante duas vezes na churrascaria!</p>
        </article>
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/chocolate.jpg" alt="Escolha chocolate" text="Escolha chocolate" />
            <h3>VALE CHOCOLATES</h3>
            <p>Receba um Vale Presentes de R$ 85,00 para gastar com chocolates da Cacau Show!</p>
        </article>
    </div>
    <div class="row">
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/japones.jpg" alt="Escolha Comida Japonesa" text="Escolha Comida Japonesa" />
            <h3>RODÍZIO DE JAPONÊS</h3>
            <p>Um maravilhoso rodízio completo de comida japonesa para uma pessoa!</p>
        </article>
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/cinema.jpg" alt="Escolha Cinema" text="Escolha Cinema" />
            <h3>CINEMA</h3>
            <p>Quatro Ingressos! Aproveite dois finais de semana no Moviecom Franca vendo um cineminha acompanhado ou se estiver sozinho, curta um filme novo todos os finais de semana do mês!</p>
        </article>
    </div>
    <div class="row">
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/apps.jpg" alt="Escolha Vale Presente Google PLay/Itunes" text="Escolha Google PLay/Itunes" />
            <h3>MÚSICAS & CELULAR<h3>
            <p>Ganhe um Vale Presente de R$ 85,00 para comprar suas Músicas e Apps prediletos para seu Android ou aparelhos da Apple!</p>
        </article>
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/cerveja.jpg" alt="Escolha caixa de cerveja" text="Escolha caixa de cerveja" />
            <h3>CERVEJA<h3>
            <p>Receba uma caixa de cerveja no valor de R$ 85,00 para fazer a sua festa!</p>
        </article>
    </div>

    <div class="row">
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/escalada.jpg" alt="Escolha Escalada" text="Escolha Folgas" />
            <h3>ESCALADA<h3>
            <p>Ganhe um mês de treinamento em escalada indoor e melhore o seu condicionamento físico!</p>
        </article>
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/folga.jpg" alt="Escolha Folga" text="Escolha Folga" />
            <h3>FOLGA<h3>
            <p>Tire dois dias de volga no mês seguinte!</p>
        </article>
    </div>
    <div class="row">
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/hopihari.jpg" alt="Escolha Escalada" text="Escolha Folgas" />
            <h3>HOPPI HARI<h3>
            <p>Ganhe ingressos para passar um final de semana no Hopi Hari! (Sábado/Domingo)</p>
        </article>
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/livros.jpg" alt="Escolha Folga" text="Escolha Folga" />
            <h3>LIVROS<h3>
            <p>Aproveite para aprimorar ainda mais seus conhecimentos ou ler aquela boa história!</p>
        </article>
    </div>
    <div class="row">
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/manutencao.jpg" alt="Escolha Escalada" text="Escolha Folgas" />
            <h3>REVISÃO VEICULAR<h3>
            <p>Precisando dar aquele trato no carango? Nós te damos uma mão!</p>
        </article>
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/natacao.jpg" alt="Escolha Folga" text="Escolha Folga" />
            <h3>NATAÇÃO<h3>
            <p>Melhore sua qualidade de vida fazendo natação na academia com supervisão de profissionais!</p>
        </article>
    </div>
    <div class="row">
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/onibus.jpg" alt="Escolha Viagem" text="Escolha Viagem" />
            <h3>PASSAGEM<h3>
            <p>Passagem de onibus para São Paulo (ida & volta) para fazer compras ou aproveitar algum evento!</p>
        </article>
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/playcenter.jpg" alt="Escolha Playcenter" text="Escolha Playcenter" />
            <h3>PLAYCENTER<h3>
            <p>Divirta-se com um ingresso para todos os brinquedos do Playcenter!</p>
        </article>
    </div>
    <div class="row">
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/thermas.jpg" alt="Escolha Thermas" text="Escolha Thermas" />
            <h3>PARQUE AQUÁTICO<h3>
            <p>Um ingresso para você aproveitar seu fim de semana em um parque aquático!</p>
        </article>
        <article class="6u 12u$(3) work-item">
            <img class="image fit thumb" src="/static/images/premios/lavacarro.jpg" alt="Escolha Playcenter" text="Escolha Lavagem Completa" />
            <h3>LAVAGEM COMPLETA<h3>
            <p>Dê um banho no seu possante e deixe ele brilhando por dentro e por fora!</p>
        </article>
    </div>


</section>  
{% endblock %} 