{% extends "base.html" %} 

{% block container %}
<div id="main">
    <!-- Two -->
    <section id="two">
        <h2>Premios!</h2>
        <div class="row">
            <article class="6u 12u$(3) work-item">
                <img class="image fit thumb" src="/static/images/premios/curso de idioma.jpg" alt="Escolha Curso de idiomas" text="Escolha Curso de idiomas  " />
                <h3>3 Meses de curso de idiomas online</h3>
                <p>3 meses de curso de idiomas online podendo escolher entre Ingles, Alemão, Francês, Espanhol,Italiano, Portugês, Suéco, Turco, Holandês, Polonês, Noroeguês, indonésio, Russo</p>
            </article>
            <article class="6u 12u$(3) work-item">
                <img class="image fit thumb" src="/static/images/premios/academia.jpg" alt="Escolha Academia" text="Escolha Academia" />
                <h3>Dois meses de academia</h3>
                <p>Dois meses de academia nas academias credenciadas</p>
            </article>
            <article class="6u 12u$(3) work-item">
                <img class="image fit thumb" src="/static/images/premios/churrasco.jpg" alt="Escolha Churrasco" text="Escolha Churrasco" />
                <h3>Churrasco com acompanhante</h3>
                <p>Rodizio em churrascaria com acompanhante por uma semana ou com acompanhante por duas semanas (uma unica vez cada semana) </p>
            </article>
            <article class="6u 12u$(3) work-item">
                <img class="image fit thumb" src="/static/images/premios/chocolate.jpg" alt="Escolha chocolate" text="Escolha chocolate" />
                <h3>Vale presente de chocolate</h3>
                <p>Vale presente de chocolate</p>
            </article>
            <article class="6u 12u$(3) work-item">
                <img class="image fit thumb" src="/static/images/premios/japones.jpg" alt="Escolha Comida Japonesa" text="Escolha Comida Japonesa" />
                <h3>Rodizio de comida japonesa</h3>
                <p>Um rodizio de comida japonesa para uma pessoa</p>
            </article>
            <article class="6u 12u$(3) work-item">
                <img class="image fit thumb" src="/static/images/premios/Cinema.jpg" alt="Escolha Cinema" text="Escolha Cinema" /></a>
                <h3>Cinema com acompanhante</h3>
                <p>Cinema com acompanhante por duas semanas ou quatro semanas sem acompanhante (uma unica vez cada semana)</p>
            </article>
            <article class="6u 12u$(3) work-item">
                <img class="image fit thumb" src="/static/images/premios/apps.jpg" alt="Escolha Vale Presente Google PLay/Itunes" text="Escolha Google PLay/Itunes" />
                <h3>Vale presente Google PLay/Itunes</h3>
                <p>Ganhe um vale presente para baixar suas musicas e app  prediletos para seu android ou IOS </p>
            </article>
        </div>
    </section>  
</div>
{% endblock %} 