{% extends "base.html" %} 

{% block container %}
<div id="main">
    <!-- Two -->
    <section id="two">
        <h2>Premios!</h2>
        <div class="row">
            <article class="6u 12u$(3) work-item">
                <a href="" class="image fit thumb"><img src="/static/images/premios/curso de idioma.jpg" alt="Escolha Curso de idiomas" text="Escolha Curso de idiomas  " /></a>
                <h3>3 Meses de curso de idiomas</h3>
                <p>3 meses de curso de idiomas</p>
            </article>
            <article class="6u 12u$(3) work-item">
                <a href="" class="image fit thumb"><img src="/static/images/premios/churrasco.jpg" alt="Escolha Churrasco" text="Escolha Churrasco" /></a>
                <h3>Churrasco com acompanhante</h3>
                <p>Churrasco com acompanhante</p>
            </article>
            <article class="6u 12u$(3) work-item">
                <a href="" class="image fit thumb"><img src="/static/images/premios/Cinema.jpg" alt="Escolha Cinema" text="Escolha Cinema" /></a>
                <h3>Cinema com acompanhante</h3>
                <p>Cinema com acompanhante</p>
            </article>
        </div>
        <ul class="actions">
            <li><a href="#" class="button">Votar</a></li>
        </ul>
    </section>  
</div>
{% endblock %} 