{% extends "base.html" %} 

{% block container %}
<div id="main">
    <!-- Two -->
    <section id="two">
        <h2>Vencedores!</h2>
        <div class="row">
        {% for ano, mes, nome, foto in listagem.items %}
            <article class="6u 12u$(3) work-item">
                <a href="/voto/{{ foto }}" class="image fit thumb"><img src="/static/images/{{ foto }}" /></a>
                <h3>{{ nome }}</h3>
                <p>{{ mes }}</p>
            </article>
        {% endfor %} 
        </div>
        <ul class="actions">
            <li><a href="#" class="button">Votar</a></li>
        </ul>
    </section>  
</div>
{% endblock %} 