{% extends "base.html" %} 

{% block container %}
<div id="main">
    <!-- Two -->
    <section id="two">
        <h2>Vencedores!</h2>
        <div class="row">
        {% for voto in votos %}
            <article class="6u 12u$(3) work-item">
                <a href="/voto/{{voto.pk}}" class="image fit thumb"><img src="/static/images/{{voto.destinatario.foto}}" alt="Vote em {{ voto.destinatario.nome }}" text="Vote em {{ voto.destinatario.nome }}" /></a>
                <h3>{{ voto.destinatario.nome }}</h3>
                <p>{{ voto.destinatario.area }}</p>
            </article>
        {% endfor %} 
        </div>
        <ul class="actions">
            <li><a href="#" class="button">Votar</a></li>
        </ul>
    </section>  
</div>
{% endblock %} 